<div width="100%" style="text-align: center;"><div style="width: 100%; max-width: 380px; display: inline-block;" class="devotionContainer">
    <div style="width: 100%;" class="loginBox">
        <h3 id="resetHeading" class="login-heading">Set Your Password</h3>

        <div ng-if="message" class="alert alert-{{message.type}}" role="alert" id="message">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{message.text}}
        </div>

        <div ng-if="!resetSuccessful">
            <div ng-if="orgAdminRequest">
                Please set your password.  You must use the email address from your invitation.
                If you would like you can use a Google login instead, just click Use Google below.
            </div>

            <div>
                <input ng-model="form.signInEmail" type="text" class="form-control" placeholder="Email address" maxLength="35"
                       auto-focus/>
            </div>
            <div class="halfEm"/>
            <div>
                <input ng-model="form.signInPassword" type="password" class="form-control" placeholder="New Password"
                       maxLength="35"/>
            </div>
            <div class="halfEm"/>
            <div>
                <input ng-model="form.signInPassword2" type="password" class="form-control" placeholder="New Password (again)"
                       maxLength="35"/>
            </div>

            <button id="resetButton" style="margin-top: 10px;" class="btn btn-sm btn-primary"
                    ng-click="resetYourPassword()" ng-disabled="isDisabled">Set Your Password
            </button>
            <button ng-if="orgAdminRequest" id="googleLogin" style="margin-top: 10px;" class="btn btn-default btn-sm"
                    ng-click="google()" ng-disabled="isDisabled">Use Google
            </button>
            <div class="halfEm"/>
        </div>

        <div ng-if="resetSuccessful">
            <button id="loginButton" style="margin-top: 10px;" class="btn btn-default btn-sm"
                    ng-click="login()">Login
            </button>
        </div>
    </div>
</div>
</div>